.container{
	width: 100%;
	margin: 0 auto;
	max-width: 800px;
	min-width: 320px;
	overflow: hidden;
}
.header_pic{
	width: 100%;
	margin: 0 auto ;
	background: #fff;
	/*text-align: center;*/
}
.header_pic>img{
	width: 100%;
}
.banner_myslef{
	width: 100%;
	/*height: 500px;*/
	margin:0 auto ;
	overflow: auto;
	box-sizing: border-box;
	padding: 0 15px 10px;
	overflow: hidden;
}
.banner_myslef>ul{
	margin-top: 20px;
	height: 25px;
	line-height: 25px;
}
.banner_myslef>ul>li{
	font-size: 18px;
}
.banner_myslef>ul>li>img{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.banner_myslef>ul>li>span{
	font-size: 10px;
	color: #666;
	cursor: default;
	margin-left: 10px;
}
.banner_myslef>ul>li:last-child{
	margin-right: 10px;
}
.banner_myslef>p{
	margin-top:20px;
}
.banner_myslef>p>img{
	width: 100%;
}
.banner_myslef>form>ul{
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.banner_myslef>form>ul>li>input[type="text"]{
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 42px;
	border: 1px solid #CCCCCC;
	margin-top: 15px;
	box-sizing: border-box;
	padding-left: 5px;
	border-radius: 4px;
	/*align-content: center;*/
}
.anquan{
	text-align: center;
	margin-top: 10px;
}
.anquan>span{
	font-size: 20px;
	color: #ccc;
	cursor: default;
	
	/*box-sizing: border-box;*/	
}
#form_ts{
	width: 90%;
	margin: 0 auto;
}
#form_ts>span{
	display: inline-block;
	width: 30%;
	height: 42px;
	background: gray;
	vertical-align: middle;
	text-align: center;
	line-height: 42px;
	border-radius: 4px;
	margin-left:5%;
	font-size: 30px;
	letter-spacing: 5px;
	cursor: pointer;
}
#form_ts>input{
	display: inline-block;
	width:60%;
}
.banner_myslef>form>ul>li>input[type="submit"]{
	display: block;
	margin:  10px  auto 0;
	width: 90%;
	height: 40px;
	background: orange;
	/*margin-left: 10px;*/
	cursor: pointer;
	border-radius: 4px;
}
/*装修透明*/
.nav_zx{
	width: 100%;
	margin: 0 auto;
	background:#fff;
	overflow: auto;
	margin-top: 10px;
}
.nav_zx>ul{
	margin-top: 20px;
	height: 25px;
	line-height: 25px;
	padding: 10px;
	box-sizing: border-box;
}
.nav_zx>ul>li{
	font-size: 18px;
}
.nav_zx>ul>li>img{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.nav_zx>ul>li>span{
	font-size: 10px;
	color: #666;
	cursor: default;
	margin-left: 10px;
}
.nav_zx>ul>li:last-child{
	margin-right: 10px;
}
.nav_zx>p{
	margin-top:20px;
}
.nav_zx>p>img{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
/*品质整装*/
.nav_pz{
	width: 100%;
	margin: 0 auto;
	background:#fff;
	overflow: auto;
	margin-top: 10px;
}
.nav_pz>ul{
	margin-top: 20px;
	height: 25px;
	line-height: 25px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.nav_pz>ul>li{
	font-size: 18px;
}
.nav_pz>ul>li>img{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.nav_pz>ul>li>span{
	font-size: 10px;
	color: #666;
	cursor: default;
	margin-left: 10px;
}
.nav_pz>ul>li:last-child{
	margin-right: 10px;
}
.nav_pz>p{
	margin-top:40px;
}
.nav_pz>p>img{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
/*材料透明*/
.nav_cl{
	width: 100%;
	margin: 0 auto;
	background:#fff;
	overflow: auto;
	margin-top: 10px;
}
.nav_cl>ul{
	margin-top: 20px;
	height: 25px;
	line-height: 25px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.nav_cl>ul>li{
	font-size: 18px;
}
.nav_cl>ul>li>img{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.nav_cl>ul>li>span{
	font-size: 10px;
	color: #666;
	cursor: default;
	margin-left: 10px;
}
.nav_cl>ul>li:last-child{
	margin-right: 10px;
}
.nav_cl>dl{
	margin-top:40px;
	display: flex;
	align-content: space-around;
	flex-wrap: wrap;
}
.nav_cl>dl>dd{
	width: 50%;
}
.nav_cl>dl>dd>img{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
/*商标区域*/
.nav_lis{
	width: 100%;
	height: 350px;
	margin: 0 auto;
	background: #fff;
	overflow: auto;
}
.nav_lis>ul{
	margin-top: 30px;
	display: flex;
	/*justify-content: center;*/
	flex-wrap: wrap;
}
.nav_lis>ul>li{
	width: 25%;
}
.nav_lis>ul>li>img{
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}
